In [2]:
#importing data management, data visualisation libraries.
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [9]:
#load dataset
data=pd.read_csv('KL Real Estate.csv')

data

,Location,Price,Rooms,Bathrooms,Car Parks,Property Type,Size,Furnishing
0,"KLCC, Kuala Lumpur","RM 1,250,000",2+1,3.0,2.0,Serviced Residence,"Built-up : 1,335 sq. ft.",Fully Furnished
1,"Damansara Heights, Kuala Lumpur","RM 6,800,000",6,7.0,NaN,Bungalow,Land area : 6900 sq. ft.,Partly Furnished
2,"Dutamas, Kuala Lumpur","RM 1,030,000",3,4.0,2.0,Condominium (Corner),"Built-up : 1,875 sq. ft.",Partly Furnished
3,"Cheras, Kuala Lumpur",NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"Bukit Jalil, Kuala Lumpur","RM 900,000",4+1,3.0,2.0,Condominium (Corner),"Built-up : 1,513 sq. ft.",Partly Furnished
...,...,...,...,...,...,...,...,...
53878,"Bangsar, Kuala Lumpur","RM 5,100,000",5+1,4.0,NaN,Bungalow (Corner),Land area : 7168 sq. ft.,Fully Furnished
53879,"Bangsar, Kuala Lumpur","RM 5,000,000",5,4.0,NaN,Bungalow (Intermediate),Land area : 15000 sq. ft.,Unfurnished
53880,"Bangsar, Kuala Lumpur","RM 5,500,000",5+1,4.0,NaN,Bungalow (Intermediate),Land area : 7168 sq. ft.,Partly Furnished
53881,"Wangsa Maju, Kuala Lumpur","RM 480,000",3,2.0,NaN,Condominium (Intermediate),"Built-up : 1,150 sq. ft.",Unfurnished
53882,"Setapak, Kuala Lumpur","RM 540,000",4,2.0,3.0,Condominium (Intermediate),"Built-up : 1,313 sq. ft.",Partly Furnished

In [12]:
data.duplicated().sum()

4467

In [13]:
data.drop_duplicates(inplace=True)

In [14]:
data.reset_index(drop=True, inplace=True)

In [7]:
data.isna().sum()

Location             0
Price              218
Rooms             1580
Bathrooms         1864
Car Parks        16302
Property Type       18
Size              1016
Furnishing        6427
dtype: int64

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49416 entries, 0 to 49415
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Location       49416 non-null  object
 1   Price          49198 non-null  object
 2   Rooms          47836 non-null  object
 3   Bathrooms      47552 non-null  float64
 4   Car Parks      33114 non-null  float64
 5   Property Type  49398 non-null  object
 6   Size           48400 non-null  object
 7   Furnishing     42989 non-null  object
dtypes: float64(2), object(6)
memory usage: 3.0+ MB

In [16]:
data.to_csv('KL_no_duplicates_data.csv', index=False)