In [187]:
#importing data management, data visualisation libraries.
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [444]:
data= pd.read_csv('KL_no_duplicates_data.csv')
data

,Location,Price,Rooms,Bathrooms,Car Parks,Property Type,Size,Furnishing
0,"KLCC, Kuala Lumpur","RM 1,250,000",2+1,3.0,2.0,Serviced Residence,"Built-up : 1,335 sq. ft.",Fully Furnished
1,"Damansara Heights, Kuala Lumpur","RM 6,800,000",6,7.0,NaN,Bungalow,Land area : 6900 sq. ft.,Partly Furnished
2,"Dutamas, Kuala Lumpur","RM 1,030,000",3,4.0,2.0,Condominium (Corner),"Built-up : 1,875 sq. ft.",Partly Furnished
3,"Cheras, Kuala Lumpur",NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"Bukit Jalil, Kuala Lumpur","RM 900,000",4+1,3.0,2.0,Condominium (Corner),"Built-up : 1,513 sq. ft.",Partly Furnished
...,...,...,...,...,...,...,...,...
49411,"Bangsar, Kuala Lumpur","RM 5,100,000",5+1,4.0,NaN,Bungalow (Corner),Land area : 7168 sq. ft.,Fully Furnished
49412,"Bangsar, Kuala Lumpur","RM 5,000,000",5,4.0,NaN,Bungalow (Intermediate),Land area : 15000 sq. ft.,Unfurnished
49413,"Bangsar, Kuala Lumpur","RM 5,500,000",5+1,4.0,NaN,Bungalow (Intermediate),Land area : 7168 sq. ft.,Partly Furnished
49414,"Wangsa Maju, Kuala Lumpur","RM 480,000",3,2.0,NaN,Condominium (Intermediate),"Built-up : 1,150 sq. ft.",Unfurnished
49415,"Setapak, Kuala Lumpur","RM 540,000",4,2.0,3.0,Condominium (Intermediate),"Built-up : 1,313 sq. ft.",Partly Furnished

In [445]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49416 entries, 0 to 49415
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Location       49416 non-null  object
 1   Price          49198 non-null  object
 2   Rooms          47836 non-null  object
 3   Bathrooms      47552 non-null  float64
 4   Car Parks      33114 non-null  float64
 5   Property Type  49398 non-null  object
 6   Size           48400 non-null  object
 7   Furnishing     42989 non-null  object
dtypes: float64(2), object(6)
memory usage: 3.0+ MB

In [419]:
data.isna().sum()

Location             0
Price              218
Rooms             1580
Bathrooms         1864
Car Parks        16302
Property Type       18
Size              1016
Furnishing        6427
dtype: int64

In [446]:
#Formatting Location column
# Split the column with commas into two separate columns
data[['area', 'L2', 'L3']] = data['Location'].str.split(',' ,expand=True)
data.drop(columns=["Location","L2","L3"], inplace=True)
data

,Price,Rooms,Bathrooms,Car Parks,Property Type,Size,Furnishing,area
0,"RM 1,250,000",2+1,3.0,2.0,Serviced Residence,"Built-up : 1,335 sq. ft.",Fully Furnished,KLCC
1,"RM 6,800,000",6,7.0,NaN,Bungalow,Land area : 6900 sq. ft.,Partly Furnished,Damansara Heights
2,"RM 1,030,000",3,4.0,2.0,Condominium (Corner),"Built-up : 1,875 sq. ft.",Partly Furnished,Dutamas
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cheras
4,"RM 900,000",4+1,3.0,2.0,Condominium (Corner),"Built-up : 1,513 sq. ft.",Partly Furnished,Bukit Jalil
...,...,...,...,...,...,...,...,...
49411,"RM 5,100,000",5+1,4.0,NaN,Bungalow (Corner),Land area : 7168 sq. ft.,Fully Furnished,Bangsar
49412,"RM 5,000,000",5,4.0,NaN,Bungalow (Intermediate),Land area : 15000 sq. ft.,Unfurnished,Bangsar
49413,"RM 5,500,000",5+1,4.0,NaN,Bungalow (Intermediate),Land area : 7168 sq. ft.,Partly Furnished,Bangsar
49414,"RM 480,000",3,2.0,NaN,Condominium (Intermediate),"Built-up : 1,150 sq. ft.",Unfurnished,Wangsa Maju
49415,"RM 540,000",4,2.0,3.0,Condominium (Intermediate),"Built-up : 1,313 sq. ft.",Partly Furnished,Setapak

In [447]:
#Rename to location and drop area
data['Location'] = data['area']
data.drop(columns=["area"], inplace=True)
data

,Price,Rooms,Bathrooms,Car Parks,Property Type,Size,Furnishing,Location
0,"RM 1,250,000",2+1,3.0,2.0,Serviced Residence,"Built-up : 1,335 sq. ft.",Fully Furnished,KLCC
1,"RM 6,800,000",6,7.0,NaN,Bungalow,Land area : 6900 sq. ft.,Partly Furnished,Damansara Heights
2,"RM 1,030,000",3,4.0,2.0,Condominium (Corner),"Built-up : 1,875 sq. ft.",Partly Furnished,Dutamas
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cheras
4,"RM 900,000",4+1,3.0,2.0,Condominium (Corner),"Built-up : 1,513 sq. ft.",Partly Furnished,Bukit Jalil
...,...,...,...,...,...,...,...,...
49411,"RM 5,100,000",5+1,4.0,NaN,Bungalow (Corner),Land area : 7168 sq. ft.,Fully Furnished,Bangsar
49412,"RM 5,000,000",5,4.0,NaN,Bungalow (Intermediate),Land area : 15000 sq. ft.,Unfurnished,Bangsar
49413,"RM 5,500,000",5+1,4.0,NaN,Bungalow (Intermediate),Land area : 7168 sq. ft.,Partly Furnished,Bangsar
49414,"RM 480,000",3,2.0,NaN,Condominium (Intermediate),"Built-up : 1,150 sq. ft.",Unfurnished,Wangsa Maju
49415,"RM 540,000",4,2.0,3.0,Condominium (Intermediate),"Built-up : 1,313 sq. ft.",Partly Furnished,Setapak

In [448]:
data['Price'].value_counts()

Price
RM 1,200,000    646
RM 1,100,000    581
RM 650,000      578
RM 1,300,000    509
RM 850,000      495
               ...
RM 2,686,790      1
RM 3,658,000      1
RM 4,584,450      1
RM 881,000        1
RM 642,800        1
Name: count, Length: 4280, dtype: int64

In [449]:
#Drop rows with price: NAN

data.dropna(subset=['Price'], inplace=True)

In [450]:
data['Price'].isna().sum()

0

In [451]:
#Format Price column
data['Price'] = data['Price'].str.replace(r'\D+', '', regex=True).astype(int)

In [452]:
data.head(3)

,Price,Rooms,Bathrooms,Car Parks,Property Type,Size,Furnishing,Location
0,1250000,2+1,3.0,2.0,Serviced Residence,"Built-up : 1,335 sq. ft.",Fully Furnished,KLCC
1,6800000,6,7.0,NaN,Bungalow,Land area : 6900 sq. ft.,Partly Furnished,Damansara Heights
2,1030000,3,4.0,2.0,Condominium (Corner),"Built-up : 1,875 sq. ft.",Partly Furnished,Dutamas

In [453]:
# Splitting the Rooms column and creating two new columns, no of bed room, servant rooms
data[['Bedrooms', 'Additional_Rooms']] = data['Rooms'].str.split('+', expand=True)
data.drop(columns="Rooms", inplace=True)

In [454]:
data.head(3)

,Price,Bathrooms,Car Parks,Property Type,Size,Furnishing,Location,Bedrooms,Additional_Rooms
0,1250000,3.0,2.0,Serviced Residence,"Built-up : 1,335 sq. ft.",Fully Furnished,KLCC,2,1
1,6800000,7.0,NaN,Bungalow,Land area : 6900 sq. ft.,Partly Furnished,Damansara Heights,6,None
2,1030000,4.0,2.0,Condominium (Corner),"Built-up : 1,875 sq. ft.",Partly Furnished,Dutamas,3,None

In [455]:
data.isna().sum()

Price                   0
Bathrooms            1822
Car Parks           16190
Property Type           0
Size                  988
Furnishing           6366
Location                0
Bedrooms             1538
Additional_Rooms    30050
dtype: int64

In [456]:
data['Additional_Rooms'].fillna(value=0, inplace=True)

In [458]:
data.isna().sum()

Price                   0
Bathrooms            1822
Car Parks           16190
Property Type           0
Size                  988
Furnishing           6366
Location                0
Bedrooms             1538
Additional_Rooms        0
dtype: int64

In [459]:
# Fill NaN values in the 'Bathrooms' column with 0 where 'Property Type' contains 'residential property'
data.loc[data['Property Type'].str.contains('Residential Land', case=False), 'Bathrooms'] = data['Bathrooms'].fillna(0)

In [460]:
data.loc[data['Property Type'].str.contains('Residential Land', case=False), 'Car Parks'] = data['Car Parks'].fillna(0)

In [462]:
data.isna().sum()

Price                   0
Bathrooms            1171
Car Parks           15529
Property Type           0
Size                  988
Furnishing           6366
Location                0
Bedrooms             1538
Additional_Rooms        0
Studio                  0
dtype: int64

In [461]:
#Create new column with Studio [0,1] when bedrooms has value as Studio
data['Studio'] = data['Bedrooms'].apply(lambda x: 1 if 'studio' in str(x).lower() else 0)
data.head(5)

,Price,Bathrooms,Car Parks,Property Type,Size,Furnishing,Location,Bedrooms,Additional_Rooms,Studio
0,1250000,3.0,2.0,Serviced Residence,"Built-up : 1,335 sq. ft.",Fully Furnished,KLCC,2,1,0
1,6800000,7.0,NaN,Bungalow,Land area : 6900 sq. ft.,Partly Furnished,Damansara Heights,6,0,0
2,1030000,4.0,2.0,Condominium (Corner),"Built-up : 1,875 sq. ft.",Partly Furnished,Dutamas,3,0,0
4,900000,3.0,2.0,Condominium (Corner),"Built-up : 1,513 sq. ft.",Partly Furnished,Bukit Jalil,4,1,0
5,5350000,5.0,4.0,Bungalow,Land area : 7200 sq. ft.,Partly Furnished,Taman Tun Dr Ismail,4,2,0

In [479]:
data1 = data.copy()

In [472]:
data.isna().sum()

Price                   0
Bathrooms            1171
Car Parks           15529
Property Type           0
Size                  988
Furnishing           6366
Location                0
Bedrooms             1538
Additional_Rooms        0
Studio                  0
dtype: int64

In [469]:
#Replace Bedrooms with 0 when property is Studio

data['Bedrooms'] = data['Bedrooms'].str.replace('Studio', '1', case=False)

In [478]:
data['Bedrooms'].value_counts()

Bedrooms
3      20729
4       9100
2       6722
5       4549
1       3878
6       1758
0        644
7        603
8        191
4.0       90
9         53
10        37
12        12
11         9
20         8
13         5
14         2
16         2
15         1
18         1
Name: count, dtype: int64

In [470]:
#Remove string value 'above' from Bedrooms column

data['Bedrooms'] = data['Bedrooms'].str.replace(' Above', '', regex=False)

In [471]:
# Replace 'Bathrooms' values with 20 where 'Bedrooms' contain 20
data.loc[data['Bedrooms'] == '20', 'Bathrooms'] = 20

In [484]:
# Fill NaN values in the 'Bedrooms' column with 0 where 'Property Type' contains 'residential property'
data.loc[data['Property Type'].str.contains('Land', case=False), 'Bedrooms'] = data['Bedrooms'].fillna(0)

In [125]:
data.head(5)

,Price,Bathrooms,Car Parks,Property Type,Size,Furnishing,Location,Bedrooms,Additional_Rooms,Studio
0,1250000,3.0,2.0,Serviced Residence,"Built-up : 1,335 sq. ft.",Fully Furnished,KLCC,2,1,0
1,6800000,7.0,NaN,Bungalow,Land area : 6900 sq. ft.,Partly Furnished,Damansara Heights,6,0,0
2,1030000,4.0,2.0,Condominium (Corner),"Built-up : 1,875 sq. ft.",Partly Furnished,Dutamas,3,0,0
4,900000,3.0,2.0,Condominium (Corner),"Built-up : 1,513 sq. ft.",Partly Furnished,Bukit Jalil,4,1,0
5,5350000,5.0,4.0,Bungalow,Land area : 7200 sq. ft.,Partly Furnished,Taman Tun Dr Ismail,4,2,0

In [485]:
data.info()
data.isna().sum()

<class 'pandas.core.frame.DataFrame'>
Index: 49198 entries, 0 to 49415
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Price             49198 non-null  int64
 1   Bathrooms         48027 non-null  float64
 2   Car Parks         33669 non-null  float64
 3   Property Type     49198 non-null  object
 4   Size              48210 non-null  object
 5   Furnishing        42832 non-null  object
 6   Location          49198 non-null  object
 7   Bedrooms          48635 non-null  object
 8   Additional_Rooms  49198 non-null  object
 9   Studio            49198 non-null  int64
dtypes: float64(2), int64(2), object(6)
memory usage: 5.1+ MB

Price                   0
Bathrooms            1171
Car Parks           15529
Property Type           0
Size                  988
Furnishing           6366
Location                0
Bedrooms              563
Additional_Rooms        0
Studio                  0
dtype: int64

In [475]:
#Replace nan bedroom values for terrace link house with mean value 

numeric_bedrooms = pd.to_numeric(data['Bedrooms'], errors='coerce')

# Calculate the mean of numeric bedrooms for 'terrace link house'
terrace_link_mean = numeric_bedrooms[data['Property Type'].str.contains('Link House', case=False)].mean()
np.round(terrace_link_mean, 0)

4.0

In [476]:
data.loc[data['Property Type'].str.contains('Terrace/Link House', case=False), 'Bedrooms'] = data['Bedrooms'].fillna(np.round(terrace_link_mean, 0))

In [480]:
data.isna().sum()

Price                   0
Bathrooms            1171
Car Parks           15529
Property Type           0
Size                  988
Furnishing           6366
Location                0
Bedrooms              804
Additional_Rooms        0
Studio                  0
dtype: int64

In [481]:
data['Bedrooms'].value_counts()

Bedrooms
3      20729
4       9100
2       6722
5       4549
1       3878
6       1758
0        644
7        603
8        191
4.0       90
9         53
10        37
12        12
11         9
20         8
13         5
14         2
16         2
15         1
18         1
Name: count, dtype: int64

In [487]:
#Replace nan bedroom values for Bungalow with mean value 
bungalow_mean = numeric_bedrooms[data['Property Type'].str.contains('Bungalow', case=False)].mean()
data.loc[data['Property Type'].str.contains('Bungalow', case=False), 'Bedrooms'] = data['Bedrooms'].fillna(np.round(bungalow_mean, 0))

#Replace nan bedroom values for condominium with mean value 
condominium_mean = numeric_bedrooms[data['Property Type'].str.contains('Condominium', case=False)].mean()
data.loc[data['Property Type'].str.contains('Condominium', case=False), 'Bedrooms'] = data['Bedrooms'].fillna(np.round(condominium_mean, 0))

#Replace nan bedroom values for condominium with mean value
apartment_mean = numeric_bedrooms[data['Property Type'].str.contains('Apartment', case=False)].mean()
data.loc[data['Property Type'].str.contains('Apartment', case=False), 'Bedrooms'] = data['Bedrooms'].fillna(np.round(apartment_mean, 0))

#Replace nan bedroom values for Semi-detached House with mean value
semi_detached_house_mean = numeric_bedrooms[data['Property Type'].str.contains('Semi-detached House', case=False)].mean()
data.loc[data['Property Type'].str.contains('Semi-detached House', case=False), 'Bedrooms'] = data['Bedrooms'].fillna(np.round(semi_detached_house_mean, 0))

#Replace nan bedroom values for Serviced Residence with mean value
serviced_residence_mean = numeric_bedrooms[data['Property Type'].str.contains('Serviced Residence', case=False)].mean()
data.loc[data['Property Type'].str.contains('Serviced Residence', case=False), 'Bedrooms'] = data['Bedrooms'].fillna(np.round(serviced_residence_mean, 0))

In [496]:
data.isna().sum()

Price                   0
Bathrooms              23
Car Parks           15529
Property Type           0
Size                  988
Furnishing           6366
Location                0
Bedrooms                0
Additional_Rooms        0
Studio                  0
dtype: int64

In [489]:
#Replace remaining nan bedrooms values with 3 based on data trends (Flats and Town house)
data['Bedrooms'].fillna(3, inplace=True)

In [491]:
data['Bathrooms'].value_counts()

Bathrooms
2.0     19286
3.0      8759
4.0      6058
5.0      4454
1.0      4038
6.0      3092
7.0      1028
0.0       649
8.0       398
9.0       142
10.0       68
20.0       14
11.0       13
12.0       12
15.0        6
13.0        5
14.0        4
16.0        1
Name: count, dtype: int64

In [492]:
numeric_bathrooms = pd.to_numeric(data['Bathrooms'], errors='coerce')

#Replace nan Bathrooms values for Bungalow with mean value 


bungalow_mean = numeric_bathrooms[data['Property Type'].str.contains('Bungalow', case=False)].mean()
data.loc[data['Property Type'].str.contains('Bungalow', case=False), 'Bathrooms'] = data['Bathrooms'].fillna(np.round(bungalow_mean, 0))

#Replace nan Bathrooms values for condominium with mean value 
condominium_mean = numeric_bathrooms[data['Property Type'].str.contains('Condominium', case=False)].mean()
data.loc[data['Property Type'].str.contains('Condominium', case=False), 'Bathrooms'] = data['Bathrooms'].fillna(np.round(condominium_mean, 0))

#Replace nan Bathrooms values for condominium with mean value
apartment_mean = numeric_bathrooms[data['Property Type'].str.contains('Apartment', case=False)].mean()
data.loc[data['Property Type'].str.contains('Apartment', case=False), 'Bathrooms'] = data['Bathrooms'].fillna(np.round(apartment_mean, 0))

#Replace nan Bathrooms values for Semi-detached House with mean value
semi_detached_house_mean = numeric_bathrooms[data['Property Type'].str.contains('Semi-detached House', case=False)].mean()
data.loc[data['Property Type'].str.contains('Semi-detached House', case=False), 'Bathrooms'] = data['Bathrooms'].fillna(np.round(semi_detached_house_mean, 0))

#Replace nan Bathrooms values for Serviced Residence with mean value
serviced_residence_mean = numeric_bathrooms[data['Property Type'].str.contains('Serviced Residence', case=False)].mean()
data.loc[data['Property Type'].str.contains('Serviced Residence', case=False), 'Bathrooms'] = data['Bathrooms'].fillna(np.round(serviced_residence_mean, 0))

#Replace nan Bathrooms values for terrace/link huse with mean value
terrace_link_mean = numeric_bathrooms[data['Property Type'].str.contains('Link House', case=False)].mean()
data.loc[data['Property Type'].str.contains('Link House', case=False), 'Bathrooms'] = data['Bathrooms'].fillna(np.round(terrace_link_mean, 0))

In [497]:
#Replace remaining values with 3 based on data trends (Flats and Town house) -- 23 rows
data['Bathrooms'].fillna(3, inplace=True)

In [501]:
data.to_csv('KL_new_data.csv', index=False)

In [503]:
data.isna().sum()

Price                  0
Bathrooms              0
Car Parks              0
Property Type          0
Size                 988
Furnishing          6366
Location               0
Bedrooms               0
Additional_Rooms       0
Studio                 0
dtype: int64

In [499]:
numeric_car_parks = pd.to_numeric(data['Car Parks'], errors='coerce')

#Replace nan Car Parks values for Bungalow with mean value 


bungalow_mean = numeric_car_parks[data['Property Type'].str.contains('Bungalow', case=False)].mean()
data.loc[data['Property Type'].str.contains('Bungalow', case=False), 'Car Parks'] = data['Car Parks'].fillna(np.round(bungalow_mean, 0))

#Replace nan Car Parks values for condominium with mean value 
condominium_mean = numeric_car_parks[data['Property Type'].str.contains('Condominium', case=False)].mean()
data.loc[data['Property Type'].str.contains('Condominium', case=False), 'Car Parks'] = data['Car Parks'].fillna(np.round(condominium_mean, 0))

#Replace nan Car Parks values for condominium with mean value
apartment_mean = numeric_car_parks[data['Property Type'].str.contains('Apartment', case=False)].mean()
data.loc[data['Property Type'].str.contains('Apartment', case=False), 'Car Parks'] = data['Car Parks'].fillna(np.round(apartment_mean, 0))

#Replace nan Car Parks values for Semi-detached House with mean value
semi_detached_house_mean = numeric_car_parks[data['Property Type'].str.contains('Semi-detached House', case=False)].mean()
data.loc[data['Property Type'].str.contains('Semi-detached House', case=False), 'Car Parks'] = data['Car Parks'].fillna(np.round(semi_detached_house_mean, 0))

#Replace nan Car Parks values for Serviced Residence with mean value
serviced_residence_mean = numeric_car_parks[data['Property Type'].str.contains('Serviced Residence', case=False)].mean()
data.loc[data['Property Type'].str.contains('Serviced Residence', case=False), 'Car Parks'] = data['Car Parks'].fillna(np.round(serviced_residence_mean, 0))

#Replace nan Car Parks values for terrace/link house with mean value
terrace_link_mean = numeric_car_parks[data['Property Type'].str.contains('Link House', case=False)].mean()
data.loc[data['Property Type'].str.contains('Link House', case=False), 'Car Parks'] = data['Car Parks'].fillna(np.round(terrace_link_mean, 0))

#Replace nan Car Parks values for Flat house with mean value
flat_mean = numeric_car_parks[data['Property Type'].str.contains('Flat', case=False)].mean()
data.loc[data['Property Type'].str.contains('Flat', case=False), 'Car Parks'] = data['Car Parks'].fillna(np.round(flat_mean, 0))

#Replace nan Car Parks values for town house with mean value
townhouse_mean = numeric_car_parks[data['Property Type'].str.contains('Townhouse', case=False)].mean()
data.loc[data['Property Type'].str.contains('Townhouse', case=False), 'Car Parks'] = data['Car Parks'].fillna(np.round(townhouse_mean, 0))

In [502]:
#Replace remaining car parks nan values with 1 random --3 rows -- for cluster house (values from dataser : 2,3,4, mean = 3)
data['Car Parks'].fillna(3, inplace=True)

In [ ]:
data.Furnishing